@font-face {
    font-family: 'olivetti';
    src: url('../fonts/olivetti.ttf');
    font-weight: normal;
    font-style: normal;
}



body {
    height: 100vh;
    background: radial-gradient(white, grey, black 80%);
    background-repeat: no-repeat;
    overflow: hidden;
}

#background {
     background-image: url("../img/background_full.jpg");
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 1200px;
     height: 675px;
     box-shadow: 0 0 5px 2px #282a2d;
     line-height: 1.4;
 }

#bkimg {
    position: relative;
    z-index: 1;
    width: 1200px;
    height: auto;
    border-radius: 20px;
}

#bloc {
    position: absolute;
    z-index: 1;
    width: 820px;
    height: auto;
    top: 85px;
    left: 250px;
}

#loupe {
    position: absolute;
    z-index: 2;
    width: 330px;
    height: auto;
    top: 5px;
    left: 35px;
}

#lunettes {
    position: absolute;
    z-index: 2;
    width: 350px;
    height: auto;
    top: 2px;
    left: 450px;
}

#apn {
    position: absolute;
    z-index: 2;
    width: 350px;
    height: auto;
    top: -30px;
    left: 900px;
}

#crayon {
    position: absolute;
    z-index: 2;
    width: 150px;
    height: auto;
    top: 300px;
    left: 970px;
}

#logo {
    position: absolute;
    z-index: 3;
    width: 400px;
    height: auto;
    top: -20px;
    left: -70px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#quitter {
    position: absolute;
    z-index: 2;
    height: 85px;
    width: 85px;
    bottom: 30px;
    left: 20px;
}

#pause {
    position: absolute;
    z-index: 2;
    height: 85px;
    width: 85px;
    bottom: 30px;
    left: 120px;
}

#valide {
    position: absolute;
    z-index: 2;
    height: 60px;
    width: 60px;
    bottom: -50px;
    right: -50px;
}
#valide-inscription {
    position: absolute;
    z-index: 2;
    height: 60px;
    width: 60px;
    bottom: -50px;
    right: -130px;
}

#valide-avatar {
    position: absolute;
    z-index: 2;
    height: 60px;
    width: 60px;
    bottom: 140px;
    right: 190px;
}

#valide-jeu {
    position: absolute;
    z-index: 2;
    height: 60px;
    width: 60px;
    bottom: 140px;
    right: 190px;
}

#next {
    position: absolute;
    z-index: 3;
    height: 50px;
    width: 50px;
    bottom: 270px;
    right: 380px;
    padding-left: 15px;
}

#previous {
    position: absolute;
    z-index: 3;
    height: 50px;
    width: 50px;
    bottom: 270px;
    right: 670px;
    padding-right: 10px;
}

#avatar {
    position: absolute;
    z-index: 2;
    height: 200px;
    width: 200px;
    bottom: 200px;
    right: 450px;
}

.bt-accueil {
    transition: 0.1s;

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 170px;

    background: linear-gradient(-45deg, rgba(48, 43, 43, 0.4), rgba(222, 208, 186, 0.8));

    box-shadow:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            0 -5px 10px rgba(0, 0, 0, 0.75),
            0 0 15px rgba(0, 0, 0, 0.5),
            0 0 1px 3px rgba(0, 0, 0, 0.2),
            0 4px 5px rgba(255, 255, 255, 0.1),

            inset 0 2px 3px #555,
            inset 0 4px 8px #000,
            inset 0 0 3px #000,

            inset 0 -20px 15px rgba(255, 255, 255, 0.05);

}

.bt-accueil:hover {
    cursor: pointer;
    transition: 0.1s;
    outline: 0;

    height: 65px;
    padding-top: 5px;

    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(198, 199, 199, 0.3));

    box-shadow:
            0 5px 10px rgba(0, 0, 0, 0.75),
            0 0 15px rgba(0, 0, 0, 1),
            0 0 1px 3px rgba(0, 0, 0, 0.5),
            0 -4px 5px rgba(255, 255, 255, 0.5),
            inset 0 -2px 3px #555,
            inset 0 -4px 5px #000,
            inset 0 0 3px #000,
            inset 0 20px 15px rgba(255, 255, 255, 0.05);
}

.bt-valide {
    color: rgba(57, 91, 18, 1);
    font-size: 30px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 170px;

    transition: 0.1s;
    outline: 0;

    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.7), rgba(198, 199, 199, 0.3));

    box-shadow:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            0 -5px 10px rgba(0, 0, 0, 0.75),
            0 0 15px rgba(0, 0, 0, 0.5),
            0 0 1px 3px rgba(0, 0, 0, 0.2),
            0 -5px 15px rgba(57, 91, 18, 0.1),

            inset 0 2px 3px #555,
            inset 0 4px 8px #000,
            inset 0 0 3px #000,

            inset 0 40px 40px rgba(255, 255, 255, 0.05);

}


.bt-valide:hover {
    cursor: pointer;
    color: #E2E1BD;
    font-size: 35px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 170px;

    height: 70px;
    padding-top: 2px;

    background: linear-gradient(-90deg, rgba(68, 158, 23, 0.8), rgba(125, 176, 37, 0.6));

    box-shadow:
            0 5px 10px rgba(0, 0, 0, 0.75),
            0 0 15px rgba(0, 0, 0, 1),
            0 0 1px 3px rgba(0, 0, 0, 0.5),
            0 -4px 5px rgba(255, 255, 255, 0.5),
            inset 0 -2px 3px #555,
            inset 0 -4px 5px #000,
            inset 0 0 3px #000,
            inset 0 20px 15px rgba(255, 255, 255, 0.05);

}

/*=================AVATAR==============*/

.bt-arrow {
    vertical-align: middle;
    color: #48403d;
    text-shadow: black -1px 1px 3px;
    font-size: 25px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 170px;

    transition: 0.1s;
    outline: 0;

    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(198, 199, 199, 0.1));

    box-shadow:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            -2px 5px 10px rgba(0, 0, 0, 0.75),
            0 0 15px rgba(0, 0, 0, 0.5),
            0 0 1px 3px rgba(0, 0, 0, 0.2),
            0 -5px 15px rgba(57, 91, 18, 0.1),

            inset 0 2px 3px #555,
            inset 0 4px 8px #000,
            inset 0 0 3px #000,

            inset 0 40px 40px rgba(255, 255, 255, 1);

}

.bt-arrow:hover {
    padding-bottom: 8px;
    cursor: pointer;
    color: #E2E1BD;
    font-size: 28px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 170px;

    height: 70px;
    padding-top: 2px;

    background: linear-gradient(-90deg, rgba(72, 64, 61, 0.8), rgba(133, 124, 121, 0.6));

    box-shadow:
            0 5px 10px rgba(0, 0, 0, 0.75),
            0 0 15px rgba(0, 0, 0, 1),
            0 0 1px 3px rgba(0, 0, 0, 0.5),
            0 -4px 5px rgba(255, 255, 255, 0.5),
            inset 0 -2px 3px #555,
            inset 0 -4px 5px #000,
            inset 0 0 3px #000,
            inset 0 20px 15px rgba(255, 255, 255, 0.05);

}

.avatar-border {

    background: -webkit-linear-gradient(180deg, #686362 0%, #3e3634 30%, #676159 51%, #3e3634 65%, #686362 100%);
    background: -moz-linear-gradient(180deg, #686362 0%, #3e3634 30%, #676159 51%, #3e3634 65%, #686362 100%);
    background: -ms-linear-gradient(180deg, #686362 0%, #3e3634 30%, #676159 51%, #3e3634 65%, #686362 100%);
    background: -o-linear-gradient(180deg, #686362 0%, #3e3634 30%, #676159 51%, #3e3634 65%, #686362 100%);
    background: linear-gradient(180deg, #686362 0%, #3e3634 30%, #676159 51%, #3e3634 65%, #686362 100%);

    border-radius: 50%;

    border: 1px solid #434343;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 30px #000000;
    box-shadow: inset 0 0 10px #000000;


    box-shadow:
            0 5px 10px rgba(0, 0, 0, 0.75),

            0 -4px 5px rgba(255, 255, 255, 0.5),
            inset 0 -2px 3px #555,

            inset 0 20px 15px rgba(255, 255, 255, 0.05);

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75), 0 -4px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 3px #555, inset 0 20px 15px rgba(255, 255, 255, 0.05);

}

div .avatar-background {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 4;
    border-radius: 50%;
    margin-top: 24px;
    margin-left: 24px;
    background: linear-gradient(-90deg, rgba(72, 64, 61, 1), rgba(37, 33, 30, 1));

    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 30px #000000;
    box-shadow: inset 0 0 10px #000000;
}



.avatar-text {
    position: absolute;
    z-index: 10;
    bottom: 380px;
    margin-left: 38%;

    font-family: 'olivetti';
    color: #3e3634;
    font-size: 30pt;
    text-align: center;
}

#avatar-img {
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    margin-left: 32px;
    margin-top: 38px;

}


/*=================LOGIN==============*/


form.form-login{
    z-index:10;
    position: absolute;
    z-index:4;
    width: 500px;
    height: 300px;
    margin-left:450px;
    margin-top:-500px;
}

.inpt-login {
    position:absolute;
    width: 300px;
    height: 35px;
    font-size: 20px;
    margin-left: 5px;
    margin-top:50px;
    background-color: rgba(226, 225, 189, 0.2);
}

.inpt-pass {
    position:absolute;
    width: 300px;
    height: 35px;
    font-size: 20px;
    margin-left: 5px;
    margin-top:180px;
    background-color: rgba(226, 225, 189, 0.2);
}


.inpt:focus {
    box-shadow: 0 0 25px 5px #3e3634;
}

.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

div.checkbox {
    margin-top:-20px;
}

div.forget {
    margin-top:70px;
    margin-left:60px;
}

/*
input[type=checkbox] {

	margin-left: 5px;
	padding-top:-10px;
	border: 1px solid #fff;
	width: 20px;
	height: 20px;

	-webkit-opacity: 0.7 !important;
	-moz-opacity: 0.7 !important;
	-ms-opacity: 0.7 !important;
	opacity: 0.7 !important;
}
*/

input[type=checkbox]:focus {
    box-shadow: 0 0 25px 5px #8ffaff;
}


.text-login {
    position:absolute;
    margin-top: 0px;
    font-family: 'olivetti';
    color: #3e3634;
    font-size: 25pt;
}

.text-pass {
    position:absolute;
    color: #dbcfbf;
    cursor: pointer;
    margin-top: 130px;
    font-family: 'olivetti';
    color: #3e3634;
    font-size: 25pt;
}


.text-checkbox {
    position: absolute;
    cursor: pointer;
    margin-top:240px;
    font-family: 'olivetti';
    color: #3e3634;
    font-size: 16pt;

}

.text-forget {
    position: absolute;
    cursor: pointer;
    margin-top:260px;
    font-family: 'olivetti';
    font-weight:bold;
    color: #3e3634;
    font-size: 24pt;

}

/*=================INSCRIPTION==============*/

form.form-inscription{
    z-index:10;
    position: absolute;
    z-index:4;
    width: 500px;
    height: 300px;
    margin-left:370px;
    margin-top:-500px;
}

.inpt-login-inscript {
    position:absolute;
    width: 230px;
    height: 20px;
    font-size: 16px;
    margin-left: 90px;
    margin-top:5px;
    background-color: rgba(226, 225, 189, 0.2);
}

.inpt-email {
    position:absolute;
    width: 280px;
    height: 20px;
    font-size: 16px;
    margin-left: 80px;
    margin-top:60px;
    background-color: rgba(226, 225, 189, 0.2);
}

.inpt-birthday {
    position:absolute;
    width: 150px;
    height: 20px;
    font-size: 16px;
    margin-left: 220px;
    margin-top:115px;
    background-color: rgba(226, 225, 189, 0.2);
}

/*centrer placeholder*/

.inpt-birthday::placeholder {
    text-align:center;
}



.inpt-pass-inscript {
    position:absolute;
    width: 200px;
    height: 20px;
    font-size: 16px;
    margin-left:160px;
    margin-top:175px;
    background-color: rgba(226, 225, 189, 0.2);
}

.inpt-pass-inscript2 {
    position:absolute;
    width: 200px;
    height: 20px;
    font-size: 16px;
    margin-left: 280px;
    margin-top:235px;
    background-color: rgba(226, 225, 189, 0.2);
}


.text-login-inscript {
    position:absolute;
    margin-top: 0px;
    font-family: 'olivetti';
    color: #3e3634;
    font-size: 18pt;
}

.text-email {
    position:absolute;
    color: #dbcfbf;
    cursor: pointer;
    margin-top: 55px;
    font-family: 'olivetti';
    color: #3e3634;
    font-size: 18pt;
}

.text-birthday {
    position:absolute;
    color: #dbcfbf;
    cursor: pointer;
    margin-top: 110px;
    font-family: 'olivetti';
    color: #3e3634;
    font-size: 18pt;
}

.text-pass-inscript {
    position:absolute;
    color: #dbcfbf;
    cursor: pointer;
    margin-top: 170px;
    font-family: 'olivetti';
    color: #3e3634;
    font-size: 18pt;
}

.text-pass-inscript2 {
    position:absolute;
    color: #dbcfbf;
    cursor: pointer;
    margin-top: 230px;
    font-family: 'olivetti';
    color: #3e3634;
    font-size: 18pt;
}
.text-checkbox-inscript {
    position: absolute;
    cursor: pointer;
    margin-top:150px;
    margin-left:30px;
    font-family: 'olivetti';
    color: #3e3634;
    font-size: 15pt;
    width:500px;

}

input[type=checkbox]:focus {
    box-shadow: 0 0 25px 5px #8ffaff;
}

.checkbox-inscript{
    position:absolute;
    margin-top: 160px;
    width: 10px;
    height:10px;
}

/* position et couleur des messages d'erreur*/

.error_display {
    margin-top: 350px;
    color: red;
}

.btn-modal-avatar {
    position:absolute;
    margin-left: 400px;
    margin-top:5px;
}
