@font-face {
    font-family: 'olivetti';
    src: url('../fonts/olivetti.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100vh;
    background: radial-gradient(white, grey, black 80%);
    background-repeat: no-repeat;
    overflow: hidden;
}

p{
    font-family: olivetti;
}

#background {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1200px;
    height: 675px;
    box-shadow: 0 0 5px 2px #282a2d;
    line-height: 1.4;
}

#backgroundReg {
    background-image: url("../images/background_form.jpg");
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1200px;
    height: 675px;
    box-shadow: 0 0 5px 2px #282a2d;
    line-height: 1.4;
}

.avatar {
    height:80px;
    width: 80px;
}

#avatar_log {
    height: 130px;
    width: 130px;
}

#logged-usr{
    font-family: 'olivetti';
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

#div-usr-logged{
    margin-top: 83.5%;
    margin-left: 14.5%;
    width: 130px;
}

#top-rw{
    height: 10vh;
}

#form-ctr{
    margin-top: 20%;
}

#quitter {
    position: absolute;
    z-index: 2;
    height: 85px;
    width: 85px;
    bottom: 30px;
    left: 20px;
}

#logo {
    position:absolute;
    width: 300px;
    height: auto;
    z-index: 30;
    top: -1px;
    left: -50px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

input::placeholder{
    font-family: olivetti;
}

/* bouton quitter */
.bt-accueil {
    transition: 0.1s;

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 170px;

    background: linear-gradient(-45deg, rgba(48, 43, 43, 0.4), rgba(222, 208, 186, 0.8));

    box-shadow:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            0 -5px 10px rgba(0, 0, 0, 0.75),
            0 0 15px rgba(0, 0, 0, 0.5),
            0 0 1px 3px rgba(0, 0, 0, 0.2),
            0 4px 5px rgba(255, 255, 255, 0.1),

            inset 0 2px 3px #555,
            inset 0 4px 8px #000,
            inset 0 0 3px #000,

            inset 0 -20px 15px rgba(255, 255, 255, 0.05);

}

.bt-accueil:hover {
    cursor: pointer;
    transition: 0.1s;
    outline: 0;

    height: 65px;
    padding-top: 5px;

    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(198, 199, 199, 0.3));

    box-shadow:
            0 5px 10px rgba(0, 0, 0, 0.75),
            0 0 15px rgba(0, 0, 0, 1),
            0 0 1px 3px rgba(0, 0, 0, 0.5),
            0 -4px 5px rgba(255, 255, 255, 0.5),
            inset 0 -2px 3px #555,
            inset 0 -4px 5px #000,
            inset 0 0 3px #000,
            inset 0 20px 15px rgba(255, 255, 255, 0.05);
}

.btn {
    font-family: olivetti;
}
/*bouton play*/
svg#play {
    width:120px;
    cursor: pointer;
    transform-origin: 50% 50%;
}

svg#play #triangle {
    fill:rgba(22,22,22,0);
    transition:500ms;
    transform-origin: 50% 50%;
}
svg#play:hover #triangle {
    fill:#A3CD3A;
    transform-origin: 50% 50%;
}

svg #lineOne, svg #lineTwo {
    transform-origin: 50% 50%;
    transition: 1s;
}

svg:hover #lineOne {
    transform: rotate(260deg);
    -webkit-transform: rotate(260deg);
    -moz-transform: rotate(260deg);
    -o-transform: rotate(260deg);
    transform-origin: 50% 50%;
}

svg:hover #lineTwo {
    transform: rotate(-450deg);
    transform-origin: 50% 50%;
}
/* ---------------------- */