body {
    background-color: lightgray;
}

#background {
    background-image: url("/public/assets/img/background_full.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1200px;
    height: 675px;
    box-shadow: 0 0 5px 2px #282a2d;
    line-height: 1.4;
}