@font-face {
    font-family: 'olivetti';
    src: url('../fonts/olivetti.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100vh;
    background: radial-gradient(white, grey, black 80%);
    background-repeat: no-repeat;
    overflow: hidden;
}

#background {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1200px;
    height: 675px;
    box-shadow: 0 0 5px 2px #282a2d;
    line-height: 1.4;
}

#backgroundReg {
    background-image: url("../images/background_form.jpg");
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1200px;
    height: 675px;
    box-shadow: 0 0 5px 2px #282a2d;
    line-height: 1.4;
}

.avatar {
    height:80px;
    width: 80px;
}

#avatar_log {
    height: 130px;
    width: 130px;
}

#logged-usr{
    font-family: 'olivetti';
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

#div-usr-logged{
    margin-top: 83.5%;
    margin-left: 14.5%;
    width: 130px;
}

#top-rw{
    height: 10vh;
}

#form-ctr{
    margin-top: 20%;
}
