{% extends 'base.html.twig' %}

{% block title %}Hello LoggedController!{% endblock %}

{% block body %}

{%  dump %}
    <div class="col-4" id="lft-col">
        <img src="{{ asset( app.user.avatarid.link ) }}" id="avatar_log">
        <p id="logged-usr">{{ app.user.getUsermail }}</p>
    </div>
    <div class="col-5" id="form-ctr">
    </div>
    <div class="col-3">
    </div>
{% endblock %}
